.btn {
    background-color: rgb(30, 170, 60);
    color: rgb(224, 23, 23);
    font-size: 64px;
}
body {
    background-color: rgb(207, 3, 129);
}
.barra {
    width:100%;
    height:70px;
    text-align:center;
    background-color: blueviolet;
}
.desktop {
    display: none;
}
.mobile{
    font-size: 50px;
    color: aliceblue;
}
@media (min-width:800px){
    .barra{
        background-color: paleturquoise;

    }
    .mobile {
        display: none;
    }
    .tablet {
        display: inline;
        font-size: 55px;
        color: chocolate;
    }
}
@media (min-width:1228px){
    .barra{
        background-color: blue;
        height: 120px;
    }
    .tablet{
        display: none;

    }
    .desktop{
        display: inline;
        font-size: 70px;
        color: darkcyan;
    }
}
  
      